# 4.6: Combining & Exporting Data

In [3]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
# Import Data

df_ords_prior = pd.read_csv(r'/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Original Data/order_products__prior.csv', index_col = False)
df_ords_clean = pd.read_csv(r'/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Prepared Data/orders_clean.csv', index_col = False)

### Data Check

In [5]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [22]:
df_ords_clean.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords_clean.shape

(3421083, 9)

In [23]:
df_ords_clean.to_csv('/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Prepared Data/orders_clean.csv')

In [24]:
df_ords_clean.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

### Merge Datasets

In [29]:
df_merged_large = df_ords_clean.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [30]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

### Export as Pickle

In [28]:
df_merged_large.to_pickle('/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Prepared Data/orders_products_combined.pkl')

In [25]:
df_merged_large.shape

(32434489, 13)