# 4.6 Products Dataframe Merge

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

### Import Data and Data Check

In [3]:
df_merged_large = pd.read_pickle(r'/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Prepared Data/orders_products_combined.pkl')

In [4]:
df_merged_large.shape

(32434489, 12)

In [5]:
df_prods_clean = pd.read_csv(r'/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Prepared Data/products_clean.csv', index_col = False)

In [6]:
df_prods_clean.shape

(49693, 6)

In [7]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0

In [8]:
df_prods_clean.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

### Combining Dataframes

In [9]:
ords_prods_merge = df_merged_large.merge(df_prods_clean, on = 'product_id', indicator = True)

In [10]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

### Clean Dataframe

In [19]:
ords_prods_merge.drop(['Unnamed: 0.1','Unnamed: 0_x','Unnamed: 0_y'], axis = 1, inplace = True)

KeyError: "['Unnamed: 0.1', 'Unnamed: 0_x', 'Unnamed: 0_y'] not found in axis"

### Merge Flag

In [ ]:
ords_prods_merge['_merge'].value_counts()

### Export as Pickle

In [13]:
ords_prods_merge.to_pickle('/Users/aaronreese/Desktop/Instacart Basket Analysis/2. Data/Prepared Data/orders_products_merged.pkl')